.movieContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-gap: 4px;
}

#mov-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-gap: 4px;
}

.movCaption {
  padding: 10px 0px;
  text-align: center;
}

#list {
  background-color:blue;
  color:white;
  border: 1px solid black;
  padding: 16px 8px;
  font-size: 14px;
  cursor: pointer;
}

#searchConfig {
  width: 300px;
  display: flex;
  padding: 10px;
}

#search {
  width: 400px;
  background-color: white;
}

#listSwichButton {
  width: 200px;
  margin-top: 5px;
  float: left;
}

#delButton {
  background-color: #B00000;
  float: right;
  margin: 8px 0px 0px 4px;
  font-size: 14px;
  cursor: pointer;
}

#searchButton {
  cursor: pointer;
  margin: 4px 0px;
  padding: 4px 4px;
  float: right;
  background-color:blue;
  color: #FFF;
  border: 1px solid blue;
}

#LoadMoreButton {
  cursor: pointer;
  background-color: blue;
  color: white;
  border: 1px solid black;
  padding: 8px;
  font-size: 18px;
}